.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-auto-rows: 1fr;
  gap: 3rem;
  list-style: none;
  padding: 0;
  margin: 0 auto;
}
.product-card {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  padding: 1.2rem;
  border-radius: 12px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.06);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 100%;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(41, 28, 28, 0.12);
  }
}

.product-list li {
  display: block;
  height: 100%;
}


li {
  height: 100%;
}

.product-title {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0 0 0.5rem 0;
}

.product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.95rem;
  color: #666;
  margin-bottom: auto; // push button to bottom
}

.price {
  color: #2e7d32;
  font-weight: bold;
}

.rating {
  color: #fbc02d;
}

button {
  margin-top: 1rem;
  align-self: flex-start;
}
