<div class="marketplace-layout">
  <header class="app-header">
    <div class="container">
      <div class="header-top">
        <h1>Marketplace</h1>

      <div class="search-container">
        <mat-form-field class="search-field" appearance="fill">
          <mat-label>Пошук товару</mat-label>
          <input matInput [(ngModel)]="searchValue" (ngModelChange)="updateSearchQuery($event)" placeholder="Введіть назву">
        </mat-form-field>
      </div>
    </div>
    </div>
  </header>

  <div class="content">
    <!-- Лівий вертикальний дашборд -->
    <aside class="category-sidebar">
      <button
        mat-button
        [class.active]="selectedCategory() === null"
        (click)="onCategoryChange(null)"
      >
        Усі
      </button>

      <button
        mat-button
        *ngFor="let category of categories()"
        [class.active]="selectedCategory() === category"
        (click)="onCategoryChange(category)"
      >
        {{ category }}
      </button>
    </aside>

    <!-- Список товарів -->
    <main class="product-area">
      <ul class="product-list">
        <li *ngFor="let product of filteredProducts()">
          <div class="product-card" @fadeIn>
            <h3 class="product-title">{{ product.productName }}</h3>
            <div class="product-info">
              <span class="price">{{ product.price }} грн</span>
              <span class="rating">⭐⭐⭐⭐☆</span>
            </div>
            <button mat-raised-button color="primary">Купити</button>
          </div>
        </li>
      </ul>

      <!-- Pagination Controls -->
      <div class="pagination-container">
        <mat-paginator
          [length]="totalItems()"
          [pageSize]="pageSize()"
          [pageIndex]="pageIndex()"
          [pageSizeOptions]="[5, 10, 20, 50]"
          (page)="handlePageEvent($event)"
          aria-label="Select page">
        </mat-paginator>
      </div>
    </main>
  </div>
</div>
